* {
  /* box-sizing: border-box; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
 /* TODO */
 border: 2px solid rgb(199, 28, 114);
 outline: none;
}

body {
  /* TODO */
  background: linear-gradient(135deg, orange 60%, red);
}

input {
 /* TODO */
 border-radius: 20px;
  background: rgb(255, 178, 155);
  border: 1px solid rgb(233, 64, 64);
  width: 100%;
  padding: 10px 10px;
}

.search-container {
 /* TODO */
 width: 50%;
  margin: 20% auto;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
  background: rgb(255, 155, 164);
  color: white;
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
   width: max-content;
  border-radius: 5px;
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
  padding: 5px 10px;
}
ul li {
  /* TODO */
  margin-bottom: 3px;
  list-style-type: none;
}
ul li:hover {
  /* TODO */
  background-color: rgb(241, 89, 84);
}

input {
   /* TODO */
}